<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dwh_crib">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity android:name="com.github.yard01.sandbox.crib.dwh_crib.sql.BookDBActivity"></activity>
    </application>

</manifest>