<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.devices_crib">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application>
        <activity android:name="com.github.yard01.sandbox.crib.devices_crib.qrscan.ScannedBarcodeActivity"></activity>
        <activity android:name="com.github.yard01.sandbox.crib.devices_crib.qrscan.PictureBarcodeActivity" />
        <!-- android:authorities="${applicationId}.provider-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="devices_crib_qrscan_jpeg_file.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>